.post {
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #DDDDDD;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6897C5;
}
.post-title {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
}

.post-title h3 {
    margin: 0;
    font-weight: 600;
    color: #DDDDDD;
}

.post-body {
    padding: 10px;
    background-color: rgb(245, 245, 245);
}

.btn-showPostBody {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    cursor: pointer;
}

.btn-showPostBody.up{
    border-top: none;
    border-bottom: 8px solid #DDDDDD;
}

.btn-showPostBody.down {
    border-top: 8px solid #dddddd;
    border-bottom: none;
}