.subTitle {
    display: flex;
    flex-direction: row;
    background-color: #6868c5;
    border: 1px solid #DDDDDD;
    padding: 10px;
}

.subTitle h2 {
    flex: 1;
    margin: 0;
    text-align: center;
    font-weight: 500;
    color: #DDDDDD
}

.btn-displayPosts {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    cursor: pointer;
}

.btn-displayPosts.up{
    border-top: none;
    border-bottom: 8px solid #DDDDDD;
}

.btn-displayPosts.down {
    border-top: 8px solid #dddddd;
    border-bottom: none;
}