.subTitle {
    display: flex;
    flex-direction: row;
    background-color: #6868c5;
    border: 1px solid #DDDDDD;
    padding: 10px;
}

.subTitle h2 {
    flex: 1;
    margin: 0;
    text-align: center;
    font-weight: 500;
    color: #DDDDDD
}

.btn-displayPosts {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
}

.btn-displayPosts:hover {
    animation: pulse 3s infinite; 
}

.btn-displayPosts.up{
    border-top: none;
    border-bottom: 10px solid #DDDDDD;
}

.btn-displayPosts.down {
    border-top: 10px solid #dddddd;
    border-bottom: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}